<div class="container">
  <div *ngIf="edit" class="popup-bg"></div>

  <h1>My Car Catalog</h1>

  <div class="form">
    <h2>Add a car</h2>
    <label for="">Type</label>
    <input [(ngModel)]="actual.type" type="text">
    <label for="">Year</label>
    <input [(ngModel)]="actual.year" type="number" max="2023">
    <label for="">Price $</label>
    <input [(ngModel)]="actual.price" type="number" step="100">
    <label for="">Availability</label>
    <select [(ngModel)]="actual.availability" name="" id="">
      <option default selected disabled value="in Production">Production</option>
      <option value="in Production">Still Available</option>
      <option value="Production stoped">Production stoped</option>
    </select>
    <label for="">Note</label>
    <textarea [(ngModel)]="actual.note" name="" id="" cols="30" rows="10"></textarea>
    <button (click)="addCar()">Add Car</button>
  </div>
  <div *ngIf="error" class="error">Please fill out the fileds!</div>

  <div class="cars-container">
    <h2>My cars</h2>
    <div class="cars">
      <div *ngFor="let car of cars" class="car">
        <div>
          <div class="top">
            <h3 class="type">{{car.type}}</h3>
            <i class="fa-solid fa-car-side"></i>
            <div class="spans">
              <span class="p-btn">{{car.year}}</span>
              <span class="p-btn">{{car.price}} $</span>
              <span *ngIf="car.availability" class="p-btn red">{{car.availability}}</span>
            </div>
          </div>
          <div class="bottom">
            <p>{{car.note}}</p>
          </div>
          <div class="footer">
            <button (click)="editCar(car.id)">Edit</button>
            <button (click)="deleteCar(car.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="edit" class="pop-up">
    <div class="edit-form form">
      <h2>Edit car</h2>
      <label for="">Type</label>
      <input [(ngModel)]="carEdit[0].type" type="text">
      <label for="">Year</label>
      <input [(ngModel)]="carEdit[0].year" type="number" max="2023">
      <label for="">Price $</label>
      <input [(ngModel)]="carEdit[0].price" type="number" step="100">
      <label for="">Availability</label>
      <select [(ngModel)]="carEdit[0].availability" name="" id="">
        <option default selected disabled value="In Production">Production</option>
        <option value="In Production">Still Available</option>
        <option value="Production Stopped">Production stoped</option>
      </select>
      <label for="">Note</label>
      <textarea [(ngModel)]="carEdit[0].note" name="" id="" cols="30" rows="10"></textarea>
      <button (click)="addEditedCar()">Save Car</button>
    </div>
    <div *ngIf="error" class="error">Please fill out the fileds!</div>
  </div>
  
</div>